#first_name = "bro"
#last_name= "code"
#full_name= first_name + " " + last_name
#print("hello",full_name )

#age = 21
#age+=1
#print("ur age is:"+str(age))
#print(type(age))

#height = 234.6
#print("ur height is:",height,"cm")
#print(type(height))

#human = True
#print("are u human?",human) 

#name = "bro"
#attractive = True
#print(name)
#print(attractive )

#name = "bro"
#print(len(name))

#name = "bro code"
#print(name.find("o"))
#print(name.capitalize())
#print (name.upper())
#print(name.lower())
#print(name.isdigit())
#print(name.isalpha())
#print(name.count("o"))
#print(name.replace("o","a"))
#print(name*3)

#x = 1 #intager
#y = 2.0 #float
#z = "5" #str
#y=int(y)
#z=int(z)
#print("x is",x)
#print(y)
#print(z*3)


#name = input("What's ur name? ")
#age = int(input("How old are u? "))
#height = float(input("How tall are u? "))
#age = age +1
#print("hello,",name)
#print("u are",age,"years old")
#print("U are",height,"cm tall")



#import math
#pi = 3.14
#x = 1
#y = 2
#z = 3

#print(round(pi))
#print (math.ceil(pi))
#print(math.floor(pi))
#print(abs(pi))
#print(pow(pi,2))
#print(math.sqrt(pi))
#print(max(x,y,z))



#name = "bro code"
#first_name = name[:3]
#LAST_NAME =name[4:]
#FUNKY_NAME =name[0::2]
#reversed_name = name [::-1]
#print(first_name)
#print(LAST_NAME)
#print(FUNKY_NAME)
#print(reversed_name)


#website = "http://google.com"
#website1 = "http://wikipedia.com"

#slice =slice(7,-4)
#print(website[slice])
#print(website1[slice])


